<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form action="/services/artii_result">
    <h3>폰트를 지정해 주세요</h3>
    <input type="radio" name="font" value="rounded">rounded <br>
    <input type="radio" name="font" value="acrobatic">acrobatic <br>
    <input type="radio" name="font" value="alligator">alligator <br>
    <input type="radio" name="font" value="short">short <br>
    <h3>메세지를 입력해 주세요</h3>
    <input type="text" name="text"><br><br>
    <input type="submit" value="제출">
  </form>
</body>

</html>